body {
     background-color: none;
     font-family: sans-serif;
     text-align: center;
     scroll-behavior: smooth;
     background-image: url(https://i.pinimg.com/originals/1e/a1/fa/1ea1fa4bc30a114ace7266f1afef41f7.jpg)
}
img {
     width: 300px;
}
.left {
       background-color: none; 
       float: right; 
       
}
.right {
        float: left;
}
h1 {
     color: white;
     text-align: center;
     font-size: 70px;
     font-style: italic;
}
h2 {
     color: white;
     text-align: center;
     font-size: 50px;
}
nav>ul>li {
      text-align: center;
      color: white;
      /* display: inline-block; */
      margin-bottom: 30px;
      list-style: none;
}
nav>ul>li>a {
    text-decoration: none;
    color: red;
    font-size: 40px
}
p {
    color: white;
    font-size: 30px
} 

nav {
     margin-bottom: 230px;
}
li {
     color: white;
     font-size: 30px
}
ol {
    color: white;
}
nav>li>a {
        text-decoration: none;
        color: red;
        font-size: 40px;
}
.front {
        float: left;
}       

@media screen and (min-width: 490px ) {
   body {
        background-color: black;
        color: white;
}
.side {
       float: right;
}